<!--blog-->
<section id="blogposts">
    <div id="postcontainer" class="container">
      <header>
        <div class="row justify-content-center">
          <div id="blogtitle">Latest Blog Posts</div>
          <div class="search col-lg-4">
            <input id="postsearch" type="search" class="form-control rounded-pill" placeholder="serach" onkeyup="findpost()">
          </div>
        </div>
      </header>
      <div class="row">
        <% found.forEach((call)=>{ %>
        <div class="col-lg-4 blog-post">
          <a href="/blogs/<%= call._id %>">
            <div class="post-card card shadow-sm">
              <div class="card-header">
                <img src="<%= call.image %>"  class="img-fluid" alt="">
              </div>
              <div class="card-body">
                <div class="card-title"><h4><%= call.title %></h4></div>
                <p><%= call.subtitle %></p>
                <div class="card-footer tag">
                  <time><%= call.date %></time> 
                </div>
              </div>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
    <div class="tool-buttons text-center">
      <a type="button" id="viewall"><i class="bi bi-chevron-compact-down"></i></a>
      <a type="button" id="hideall"><i class="bi bi-chevron-compact-up"></i></a>
    </div>
  </section><!--blog-->