<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>
  <body onload='clock()'>
    <%- include ("../partials/navbar.ejs") %>
    <!--welcome-->
    <section id="welcome">
      <div class="container">
        <div class="logo-container text-center" id="logo-container">
          <div class="logo">
            <% if(!currentUser){ %>
            <img class="profile" src="images/user.png" draggable="false"/>
            <% } else { %>
            <a href="/admin"><img class="profile admin-init" src="images/profile.jpg" draggable="false"/></a>
            <% } %>
            <img class="plak" src="images/plak.jpg" draggable="false" alt="music-cover" id="cover"/>
          </div> 
        </div>
        <div id="degree-bar">
          <code class="degree"><p>Web Developer</p></code>
          <div class="social-links">
            <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="mailto:kaplanarkan@gmail.com"><i class="bi bi-envelope-fill"></i></a>
            <a href="https://github.com/kaplanark" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/kaplan-arkan-2a5747158/" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
          <p class="mt-3"><span>make up your mind now</span></p>
        </div>
        <div class="music-player">
          <div class="music-container shadow-sm" id="music-container"> 
            <div class="music-info">
              <p class="music-text"><i class="bi bi-music-note"></i><span id="song-name"></span></p>
              <div class="progress-container" id="progress-container">
                <div class="progress" id="progress"></div>
              </div>
            </div>
            <audio src="./media/jorma-kaukonen-genesis.mp3" id="audio"></audio>
            <div class="navigation">
              <button id="prev" class="action-btn">
                <i class="bi bi-skip-backward-fill"></i>
              </button>
              <button id="play" class="action-btn action-btn-big">
                <i class="bi bi-play-fill"></i>
              </button>
              <button id="next" class="action-btn">
                <i class="bi bi-skip-forward-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section><!--welcome-->

    <%- include ("../partials/blog.ejs") %>
    <%- include ("../partials/projects.ejs") %>
    <%- include ("../partials/about.ejs") %>
    <%- include ("../partials/contact.ejs") %>
    <%- include ("../partials/footer.ejs") %>
    
  </body>
</html>