<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= found.title %> </title>
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css"/>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body onload="clock()">
  <%- include ("../partials/topbar.ejs") %>
  <nav class="navbar navbar-expand-custom" id="mainnav">
    <div class="container">
      <a class="navbar-brand" href=""></a>
      <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent"
        aria-controls="navbarcontent" aria-expanded="false">
        <i class="bi bi-list"></i>
      </a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarcontent">
        <ul class="navbar-nav">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link active" href="/"><i class="bi bi-chevron-left"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="show-post">
    <div class="container col-lg-10">
      <div class="post-title text-center" style="padding-top: 10rem;">
        <h3>
          <%= found.title %>
        </h3>
      </div>
      <div class="sub-title">
        <p>
          <%= found.subtitle %>
        </p>
      </div>
      <div class="blog">
        <article>
          <%- found.blog %>
        </article>
      </div>
      <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 text-end">
          <time>
            <%= found.date %>
          </time>
        </div>
      </div>
    </div>
  </section>
  <%- include("../partials/footer.ejs") %>
</body>

</html>