<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../admin/partials/header.ejs") %>
</head>
<body onload="clock()">
  <%- include ("../admin/partials/topbar.ejs") %>
  <%- include ("../admin/partials/sidebar.ejs") %>
  
  <section class="page-wrapper">
    <div class="overlay"></div>
    <div id="blogposts"><!--blog-->
      <div id="postcontainer" class="container">
        <div class="search-area">
          <div class="row justify-content-center">
            <div class="search col-lg-4 shadow-sm">
              <input id="postsearch" type="search" class="serach-bar" placeholder="serach" onkeyup="findpost()">
            </div>
          </div>
        </div>
        <div class="row">
          <% found.forEach((call)=>{ %>
            <div class="col-lg-4 col-md-6 col-sm-12 blog-post">
              <div class="post-card card shadow-sm">
                <div class="card-header pt-3">
                  <time><%= call.date %></time>
                </div>
                <div class="card-body">
                  <div class="card-title"><h4><%= call.title %></h4></div>
                  <p><%= call.subtitle %></p>
                  <div class="card-footer"><hr>
                    <div class="btn-group" role="group">
                      <a href="/blogs/<%= call._id %>" type="button" class="btn btn-outline-dark" target="_blank"><i class="bi bi-eye"></i></a>
                      <a href="/delete/<%=call._id %>" id="delete-post-btn" type="button" class="btn btn-outline-danger"><i class="bi bi-trash2"></i></a>
                      <a href="/edit/<%=call._id %>" type="button" class="btn btn-outline-primary"><i class="bi bi-pen"></i></a>
                      <a href="/archive/<%=call._id %>" type="button" class="btn btn-outline-secondary"> <i class="bi bi-archive"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
    </div><!--blog-->
  </section>
<%- include ("../admin/partials/footer.ejs") %>
</body>
</html>